<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
    <title>
        {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
        {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="{{ paths.theme }}css/foundation.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/app.css">
		<link rel="stylesheet" href="{{ paths.theme }}css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{ paths.theme }}css/boltwall.css" />
		
		<script src="{{ paths.theme }}javascripts/jquery-2.1.0.min.js"></script>
        <script src="{{ paths.theme }}javascripts/foundation.min.js"></script>
        <script src="{{ paths.theme }}javascripts/modernizr.js"></script>

		<script type="text/javascript" src="{{ paths.theme }}javascripts/freewall.js"></script>
		<style type="text/css">
			.free-wall {
				margin: 15px;
			}
		</style>
	</head>
	<body>
    
    <div class="row">
    
    <header>
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name"><h1><a href="{{ paths.root }}">{{theme.headertext}}</a></h1></li>
                    <li class="toggle-topbar menu-icon"><a href="#"></a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        {# Include the menu, as defined in config/menu.yml. Note that this theme comes with it's own _sub_menu.twig. If this file wasn't included in the current theme, the default menu template in app/theme_defaults/_sub_menu.twig would be used. #}
                        {{ menu('main', '_sub_menu.twig') }}

                        {# Include the '_sub_searchbox.twig' template, for the searchbox. If this file wasn't included in the theme, the default searchbox template in app/theme_defaults/_sub_searchbox.twig would be used. #}
                        {# {% include '_sub_searchbox.twig' %} #}
                    </ul>
                </section>
            </nav>
        

    </header>
    
    </div>
