{% include '_header.twig' %}

		<div id="freewall" class="free-wall">
		
			{% setcontent pages = 'pages' %}
			{% for page in pages %}
			
			{% if page.templatefields.brick_image!="" %}
			<div class="brick size{{ page.templatefields.brick_size }}" data-position="{{ page.templatefields.brick_position }}" style="background-color: {{ page.templatefields.brick_bgcolor }};">
			        <a href="{{ page.link }}">
			            <div class="brickimage">
			                <img src="files/{{page.templatefields.brick_image }}">
			            </div>
			            <div class="bricktitle">
			                {{ page.title }}
			            </div>
			        </a>
			</div>
			{% else %}
                {% if page.image!="" %}
			    <div class="brick size{{ page.templatefields.brick_size }}" data-position="{{ page.templatefields.brick_position }}" style="black; background-color: {{ page.templatefields.brick_bgcolor }};">
			        <a href="{{ page.link }}">
			            <div class="brickimage">
			                <img src="files/{{page.image}}">
			            </div>
			            <div class="bricktitle">
			                {{ page.title }}
			            </div>
			        </a>
			    </div>
			    {% else %}
			    <div class="brick size{{ page.templatefields.brick_size }}" data-position="{{ page.templatefields.brick_position }}" style="background-color: {{ page.templatefields.brick_bgcolor }};">
			        <a href="{{ page.link }}">
			             <div class="bricktitle">
			                 {{ page.title }}
			             </div>
			        </a>
			    </div>
			    {% endif %}
			{% endif %}
			
			{% else %}
                 <p>No material for a brick.</p>
            {% endfor %}
		</div>
		
{% include '_footer.twig' %}

